h1 {
    color: rgba(30, 255, 0, 0.59);
    background-color: rgb(147, 197, 199);
    background-image: url(./ressources/color-pencil-1057104.jpg);
    height: 200px;
    width: auto;
    font-family: 'orbitron', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p{
    color: black
}